<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AltTextImageGeneratorWinForm.AltTextGenSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AltTextImageGeneratorWinForm.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AltTextImageGeneratorWinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AltTextImageGeneratorWinForm.AltTextGenSettings>
            <setting name="UseOllama" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OllamaUrl" serializeAs="String">
                <value>http://localhost:11434/</value>
            </setting>
            <setting name="OllamaModelId" serializeAs="String">
                <value>llama3.2-vision</value>
            </setting>
            <setting name="UseOpenAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenAIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIModel" serializeAs="String">
                <value>gpt-4o-mini</value>
            </setting>
        </AltTextImageGeneratorWinForm.AltTextGenSettings>
        <AltTextImageGeneratorWinForm.Settings1>
            <setting name="UseOllama" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OllamaUri" serializeAs="String">
                <value>http://localhost:11434/</value>
            </setting>
            <setting name="OllamaModelIf" serializeAs="String">
                <value>llama3.2-vision</value>
            </setting>
            <setting name="UseOpenAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenAIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIModel" serializeAs="String">
                <value />
            </setting>
        </AltTextImageGeneratorWinForm.Settings1>
    </applicationSettings>
    <userSettings>
        <AltTextImageGeneratorWinForm.Properties.Settings>
            <setting name="UseOllama" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OllamaUrl" serializeAs="String">
                <value>http://localhost:11434/</value>
            </setting>
            <setting name="OllamaModelId" serializeAs="String">
                <value>llama3.2-vision</value>
            </setting>
            <setting name="UseOpenAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenAIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIModel" serializeAs="String">
                <value>gpt-4o-mini</value>
            </setting>
            <setting name="UseLocalOnnxModel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalOnnxModelPath" serializeAs="String">
                <value />
            </setting>
        </AltTextImageGeneratorWinForm.Properties.Settings>
    </userSettings>
</configuration>